<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ReservasDB"
         connectionString="Server=localhost\SQLEXPRESS;Database=ReservasDB;Trusted_Connection=True;Encrypt=False;TrustServerCertificate=False;Application Name=daea_lab03" />
  </connectionStrings>
</configuration>
